body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

#content {
    padding: 20px;
}

.category h2, .year h3 {
    cursor: pointer;
    color: #333;
    padding: 10px;
    background-color: #e4e4e4;
    border-radius: 5px;
    margin-top: 10px;
}

.category-content, .year-content {
    display: none;
}

.question {
    background-color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.question h4 {
    margin-top: 0;
}

.solution {
    display: none;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}
